---
import { Image } from 'astro:assets'

// import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.jpeg'
import favicon from '@/assets/icons/favicon.svg'
import config from '@/site-config'

const languages = [ 'Python','Go', ]
const frontend = ['React', 'TailwindCSS']
const backend = ['Docker', 'Nginx']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China / Beijing'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Source code'
            as='a'
            href='https://github.com/JohnieXu/johniexu.github.io'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>AI Developer</p>
        <p class='text-muted-foreground'>
          你好，我叫 expresscompany（Di），目前在<a href='https://www.moonshot.ai/' target='_blank' class='text-primary hover:underline'>Moonshot AI</a> 担任Search Staff。
          <br><br>
          我们的产品是 <a href='https://www.kimi.com/' target='_blank' class='text-primary hover:underline'>Kimi</a>，欢迎使用。
          <br><br>
          之前在美国东北大学（Northeastern University） 攻读信息系统硕士（MSIS），本科毕业于华中科技大学计算机科学与技术专业。
          <br><br>
          目前我的兴趣方向集中在人工智能与信息检索系统（AI-powered Search & Rerank）和Agent构造上，平时也热衷于开源项目和技术分享，喜欢通过写博客、维护 GitHub 项目来记录学习与研究过程。
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }

      <Section title='Work'>
          <ProjectCard
            href='https://www.moonshot.ai/'
            heading='Moonshot AI'
            subheading='Search Technical Staff'
            imagePath='/src/assets/projects/moonshot-text.svg'
            altText='Moonshot AI'
            date='July 2025 - Present'
            imageClass='h-36 w-auto'
          />
          <ProjectCard
            href='https://www.huawei.com/cn/'
            heading='华为'
            subheading='终端BG 后端开发实习生'
            imagePath='/src/assets/projects/huawei.svg'
            altText='华为'
            date='May 2022 - September 2022'
            imageClass='h-36 object-contain !top-4'
          />
      </Section>

      <Section title='Education'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.northeastern.edu/'
            heading='Northeastern University'
            subheading='Master of Science in Information Systems'
            imagePath='/src/assets/projects/Northeastern_Wordmark.svg'
            altText='Northeastern University'
            date='September 2023 - May 2025'
          />
          <ProjectCard
            href='http://www.cs.hust.edu.cn/'
            heading='华中科技大学'
            subheading='计算机科学与技术学士'
            imagePath='/src/assets/projects/hust-university.svg'
            altText='华中科技大学'
            date='September 2019 - July 2023'
          />
        </div>
      </Section>

      <!-- <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section> -->

      <!-- <Section title='Certifications'>
        <Card
          as='a'
          heading='Lorem ipsum'
          subheading='Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio possit voluptatum. Dicat ceteros cu vim. Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.'
          date='July 2024'
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
        />
      </Section> -->

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frontend' skills={frontend} />
        <SkillLayout title='Backend' skills={backend} />
      </Section>
       <!--
      <div class="flex justify-center items-center mt-4">
        <img class="w-12" src={favicon.src} />
      </div>
      -->
    </div>
    <!-- <Quote class='mt-12' /> -->
  </main>
</PageLayout>
